@import 'tailwindcss';
@import 'flowbite-react/plugin/tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@source "../.flowbite-react/class-list.json";

@font-face {
  font-family: 'Bagwis';
  src: url('../public/fonts/BagwisBaybayinFontRegular-ZV3MK.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  unicode-range: U+1700-171F, U+1720-1734, U+1735-1736;
}
